.section-contander {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-contander {
    display: flex;
    flex-direction: row;
}